table
    {border:1px solid black;
    margin:auto;
    border-collapse: collapse;}
tr,th,td
    {border:2px solid white;
    padding:5px;}
td
    {background-color: darkgray;}
th
    {background-color: darkslategrey
    color:white}